.Detalle {
    position: relative;
    background-color: darkcyan;
    border: 3px solid grey;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    outline: 2px solid black;
    max-width: 70%;
    height: 70vh;
}

.Detalle h1 {
    font-weight: 900;
    font-size: 40px;
}

.Detalle h2 {
    font-size: 30px;

}

.Detalle button {
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
}

.Detalle img {
    transition: 2s;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.Detalle img:hover {
    transition: 2s;
    transform:rotateX(90deg) rotateZ(-75deg);
}