.Formulario {
    background-color: white;
    color: black;
    padding: 10%;
}

.Formulario label{
    font-size: 20px;
}
.Formulario label > input {
    font-size: 20px;
}
.Formulario button {
    margin-top: 20px;
    font-size: 20px;
    background-color: white;
    border: 3px solid gray;
    border-radius: 5px;
}

.Warning {
    color: red;
    border: 3px solid black;
    border-radius: 5px;
}

.Danger {
    color: rgb(255, 111, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
}