.Nav {
    background-color: rgb(255, 127, 80);
    color: rgb(132, 0, 255);
    width: 90vw;
    font-size: 20px;
    margin: 0 0 10px 0px;
    padding: 0;
    display:inline-flex;
}

.Irse {
    align-self: flex-start;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 2px;
    font-weight: 500;
    margin-right: 20px;
}

.active {
    color: red;
    text-decoration: none;
    border: none;
    width: 15vw;
}

.disable {
    text-decoration: none;
    border: none;
    width: 15vw;
}